@import "./footer.css";
@import "./entryForm.css";
@import "./journalEntries.css";

body {
    background-color: #DDDCD9;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    color: #EA3C2E;
    font-family: 'Antonio', sans-serif;
}

h1 {
    font-size: 6rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

.flexContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}